section#feature{
    .feature-content{
        z-index: 2;
        position: absolute;
        width: 500px;
        margin-left: 140px;
        padding:0;
    }

}

section#feature:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: $color-faded-black;
    height: 100%;
}